/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: white;
}
/* TYPO RULES */
body {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 75px;
    color: white;
}

h3 {
    color: #23272a;
}

/* UTILITY */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.centered {
    margin: 0 auto;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.f_left {
    float: left;
}

.btn {
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 22px;
}

.bw {
    background-color: white;
    color: black;
}

.dark {
    background-color: #23272a;
    color: white;
}

.al_center {
    text-align: center;
}

.al_left {
    text-align: left;
}

.pd120px {
    padding-right: 300px;
}

.ft_wht {
    color: white;
}

.bg_grey {
    background-color: #f6f6f6;
}
/* STYLING */

header {
    background-color: #255ee9;
}

.header_head {
    line-height: 100%;
    padding-top: 30px;
}

.header_head span img {
    width: 160px;
    vertical-align: middle;
}

nav {
    display: inline-block;
}

.header_head nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 22px;
}

.header_head .log_in{
    float: right;
}

.brand {
    float: left;
}

.log_in a {
    font-size: 20px;
}

.banner {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-top: 180px;
}

.banner h1 {
    margin-bottom: 90px;
}

.banner .cta_box {
    margin-top: 75px;
    padding-bottom: 200px;
}

.btn i {
    margin-right: 10px;
}

.banner .cta_box a {
    margin: 0 20px;
}

section {
    padding: 80px 0;
}

