/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
    color: white;
}

/* TYPO RULES */
body {
    font-size: 27px;
    color: #23272a;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

h3 {
    font-size: 38px;
}

h5 {
    font-size: 25px;
    color: #7289da;
}

.lh_60px {
    line-height: 60px;
}

/* UTILITY */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.centered {
    margin: 0 auto;
}

.w17 {
    width: 17%;
}

.w25 {
    width: 25%;
}

.w32 {
    width: 32%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.white_txt {
    color: white;
}

.purple_txt {
    color: #7289da;
}

.btn {
    padding: 12px 26px;
    border-radius: 50px;
    font-size: 22px;
}

.bg_w {
    background-color: white;
    color: #23272a;
}

.bg_dark {
    background-color: #23272a;
}

.bg_violet {
    background-color: #8ea1e1;
}

.al_center {
    text-align: center;
}

.al_left {
    text-align: left;
}

.al_right {
    text-align: right;
}

.pdl10px {
    padding-left: 10px;
}

.pdl80px {
    padding-left: 80px;
}

.pdl100px {
    padding-left: 100px;
}

.pdl300px {
    padding-left: 300px;;
}

.pdtop25px {
    padding-top: 25px;
}

.pdtop50px {
    padding-top: 50px;
}

.pdtop100px {
    padding-top: 100px;
}

.pdr10px {
    padding-right: 10px;
}

.pdr20px {
    padding-right: 20px;
}

.pdr40px {
    padding-right: 40px;
}

.pdr80px {
    padding-right: 80px;
}

.pdr300px {
    padding-right: 200px;
}

.pdbott150px {
    padding-bottom: 150px;
}

.bg_grey {
    background-color: #f6f6f6;
}

.relative {
    position: relative;
}

.v_middle {
    vertical-align: middle;
}

.lst_deco_none {
    list-style: none;
}

/* STYLING */

header {
    background-color: #255ee9;
}

.header_head {
    line-height: 100%;
    padding-top: 30px;
}

.header_head .brand img {
    width: 180px;
    bottom: 10px;
}

nav {
    display: inline-block;
}

.header_head nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    font-size: 22px;
}

.log_in a {
    font-size: 20px;
}

.banner {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    padding-top: 180px;
}

.banner h1 {
    margin-bottom: 90px;
}

.banner .cta_box {
    padding-top: 75px;
    padding-bottom: 200px;
}

.btn i {
    margin-right: 10px;
}

.banner .cta_box a {
    margin: 0 20px;
}

section {
    padding: 100px 0;
}

section .section_img {
    /* height:700px; */
    object-fit: cover;
    display: block;
}

.section_img img {
    width: 100%;
    height: 100%;
}

.section_txt_container {
    height: 100%;
    /* padding: 50px 0 0 11px; */
}

.section_txt_container p {
    line-height: 38px;
}

/* .img_first .section_txt_container {
    padding: 90px 0 0 11px;
} */

.bottom_banner_cta .stars_heading {
    margin-bottom: 45px;
}

.stars_heading h3 {
    padding-top: 48px;
    background: url("../img/stars.svg") no-repeat top center;
    background-size: 44%;
}

footer img.flag {
    width: 30px;
    vertical-align: middle;
}

.fsz14 {
    font-size: 14px;
    vertical-align: middle;
}